# React dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# React testing
frontend/coverage

# React production build
frontend/build

# React misc files
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# React logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# React cache
frontend/.eslintcache

# Python virtual environments
backend/venv/
backend/.env/
backend/myenv/
backend/.venv/
# Python bytecode and cache
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class

# Python distribution/packaging
backend/dist/
backend/build/
backend/*.egg-info/

# Python logs and virtual environment files
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
backend/.ipynb_checkpoints/

# Pytest cache
backend/.pytest_cache/

# MyPy cache
backend/.mypy_cache/

# Cython and compiled files
backend/*.sobackend/.env
backend/*.env
