# React dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# React testing
frontend/coverage

# React production build
frontend/build

# React misc files
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# React logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# React cache
frontend/.eslintcache

myenv
